body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*global*/
.container{
    
    width: 80%;
    margin:auto;
    overflow: hidden;
}




header{
    background-color: #35424a;
    color: #ffffff;
    border-bottom: #e8491d 3px solid;
    padding-top: 30px;
    min-height: 70px;
}

header a{
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;

}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header nav{
    float: right;
    margin-top: 35px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: oldlace;
    font-weight: bold ;
}




/*showcase*/
#showcase {
    min-height: 400px;
    background: url('../img/showcase.jpg') no-repeat 0 -400px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 60px;
}

#showcase p{
    font-size: 25px;
}

#newsletter{
    background-color: #35424a;
    color: #ffffff;
    padding: 15px;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    height: 25px;
    width: 250px;
}
.button_1{
    background-color: #e8491d;
    color: #ffffff;
    height: 32px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

#boxes {
    margin-top: 20px;
}

#boxes .box{
    width: 30%;
    text-align: center;
    padding: 20px;
    float: left;

}
#boxes .box img{
    width: 90px;
}

aside#sidebar{
    float :right;
    width: 30%;
    margin-top: 10px;
}

article#maincol{
    float: left;
    width: 65%;
}

ul#services li{
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    list-style: none;

}

aside#sidebar .quote input,aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color:#e8491d;
    text-align: center;
    font-weight: bolder;
    
}

@media(max-width:768px)
{
header #branding,header nav,header nav li,#newsletter h1,#newsletter form,#boxes .box{
    float: none;
    text-align: center;
    width: 100%;
}
header{
    padding-bottom: 20px;
}
#showcase h1{
    margin-top: 40px;
}
#newsletter button{
    display: block;
    width: 100%;
}
#newsletter form input[type="email"]{
    width: 100%;
    margin-bottom: 5px;
}




















